@using TDLibrary
@using Lib

<ul id="topmenu">
    <li><a href="@AppMgr.MainPath">Ana Sayfa</a></li>
    <li>@Html.ActionLink("İş Ara", "Ara", "Ilan", new { area = "Is" }, null)</li>
    @{
        if (!GirisYonetimi.Durum)
        {
            <li>@Html.ActionLink("Aday Kayıt", "Kayit", "Islem", new { area = "Aday" }, null)</li>
            <li>@Html.ActionLink("Şirket Kayıt", "Kayit", "Islem", new { area = "Sirket" }, null)</li>
        }
        else if (GirisYonetimi.Tip == GirisTipi.Aday)
        {
            <li>@Html.ActionLink("Profilim", "AnaSayfa", "Ozgecmis", new { area = "Aday" }, null)</li>
            <li>@Html.ActionLink("Başvurularım", "Basvurular", "Ozgecmis", new { area = "Aday" }, null)</li>
        }
        else if (GirisYonetimi.Tip == GirisTipi.Sirket)
        {
            <li>@Html.ActionLink("Şirketim", "AnaSayfa", "Profil", new { area = "Sirket" }, null)</li>
            <li>@Html.ActionLink("Başvurular", "Basvurular", "Profil", new { area = "Sirket" }, null)</li>
        }
    }
</ul>
