@using TDLibrary

@model  Models.FirmaModel.Firma

@{
    ViewBag.Title = "Şirket Ana Sayfa";
    Layout = "~/Views/_IKLayout.cshtml";
}

<div id="page" class="blue">
    <div id="left">
        <h2>Şirket Ana Sayfa
        </h2>
        <div id="logoedit">
            
            @if (Model.Logo != null)
            {
                <img id="companylogo" src="@AppMgr.UploadPath/Sirket/@Model.Guid/@Model.Logo" />
            }
            else
            {
                <img id="companylogo" src="@AppMgr.ImagePath/resimyok.jpg" />
            }
            <div id="logobuttons">
                <a id="deletephoto" onclick="javascript:;">Sil</a> / <a id="changephoto" onclick="javascript:;">Düzenle</a>
                <form id="upload" enctype="multipart/form-data">
                    <input type="file" name="Logo" id="Logo" accept="image/png, image/jpg, image/jpeg, image/gif, image/bmp" style="display:none;" />
                </form>
            </div>
        </div>
        <div id="lastvisit">
            <b>Son Ziyaret Tarihi : </b>@Model.SonGiris.ToString()
        </div>
        <div id="companyoptions">
            <div class="row">
                <div class="subject">Şirket İsmi : </div>
                <div id="companyname" class="object">@Model.SirketAdi</div>
            </div>
            <div class="row">
                <div class="subject">Kullanıcı Adınız : </div>
                <div id="username" class="object">@Model.KullaniciAdi</div>
            </div>
            <div class="row">
                <div class="subject">E-Mail Adresiniz : </div>
                <div id="mail" class="object">@Model.Eposta</div>
            </div>
            <div class="row">
                <div class="subject"></div>
                <div class="object">
                    <a id="updateprofile" href="javascript:;">Bilgilerimi Güncelle</a>
                </div>
            </div>
        </div>
        <div id="sirketlinks">
            <a class="linkcolumn about" href="@Url.Action("Hakkimizda", "Profil", new { area = "Sirket" })">Hakkımızda</a>
            <a class="linkcolumn announce" href="@Url.Action("Listele", "Ilan", new { area = "Sirket" })">İlanlar</a>
            <a class="linkcolumn giveannounce" href="@Url.Action("Ver", "Ilan", new { area = "Sirket" })">İlan Ver</a>
            <a class="linkcolumn applications" target="_blank" href="@Url.Action("Basvurular", "Profil", new { area = "Sirket" })">Başvurular</a>
            <a class="linkcolumn pool smalltext" href="@Url.Action("Ozgecmisler", "Profil", new { area = "Sirket" })">Özgeçmiş Havuzu</a>
            <a class="linkcolumn message" href="@Url.Action("Mesajlar", "Profil", new { area = "Sirket" })">Mesajlar</a>
            <a class="linkcolumn files" href="@Url.Action("Dosyalar", "Profil", new { area = "Sirket" })">Dosyalar</a>
            <a class="linkcolumn block smalltext" href="@Url.Action("Adaylar", "Blok", new { area = "Sirket" })">Engellenen Adaylar</a>
        </div>
    </div>
    <div id="right">
        <div class="row">
            <h2>Şirket Linkler
            </h2>
            <div class="rowcontent">
                @{ Html.RenderPartial("~/Areas/Sirket/Views/Profil/Kontroller/_SirketLinkler.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/SirketGiris.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/SirketLinkler.css" />
}
@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/TDDropDown.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Jquery/jquery.mask.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/SirketGiris.js"></script>
}