@model Models.FirmaModel.Firma

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_IKLayout.cshtml";
}

<h2>Index</h2>

<fieldset>
    <legend>Firma</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SirketAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SirketAdi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Soyad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Soyad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KullaniciAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KullaniciAdi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TCKimlikNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TCKimlikNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Eposta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Eposta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sifre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sifre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sektor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sektor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sehir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sehir)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CepTelefon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CepTelefon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Faks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Faks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hakkinda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hakkinda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SonGiris)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SonGiris)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aktif)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aktif)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HaberUyelik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HaberUyelik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Guid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Guid)
    </div>
</fieldset>
