@using TDLibrary;
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/_IKLayout.cshtml";
}


<div id="page" class="blue">
    <div id="left">
        <h2>Hakkımızda Yazısı
        </h2>
        <div id="about">
            <div class="row">
                <textarea id="aboutus">

                </textarea>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="row">
            <h2>Şirket Linkler
            </h2>
            <div class="rowcontent">
                @{ Html.RenderPartial("~/Areas/Sirket/Views/Profil/Kontroller/_SirketLinkler.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/SirketHakkimizda.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/SirketLinkler.css" />
}
@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/Kontroller/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/SirketHakkimizda.js"></script>
}
