@using TDLibrary;
@{
    ViewBag.Title = "Özgeçmiş Havuzu";
    Layout = "~/Views/_IKLayout.cshtml";
}

<div id="page" class="blue">
    <div id="left">
        <h2>Özgeçmiş Havuzu
        </h2>
        <div id="searcharea">
            <div class="searchbox">
                <input id="appperson" type="text" class="blue" />
            </div>
            <div class="searchbox">
                <div id="appstate" class="select blue"></div>
                <ul class="options blue">
                    <li data-value="0" data-selected="true">Hepsi</li>
                    <li data-value="1">Aktif</li>
                    <li data-value="2">Pasif</li>
                </ul>
            </div>
            <div class="searchbox large">
                <input id="searchbtn" type="button" class="blue" value="Uygula" />
            </div>
        </div>
        <div id="table" class="blue">
            <div class="row theader">
                <div class="column first">
                    Resim
                </div>
                <div class="column second">
                    Ad Soyad
                </div>
                <div class="column third">
                    CV Durumu
                </div>
                <div class="column fourth">
                    İşlemler
                </div>
            </div>
            @for (int i = 0; i < 10; i++)
            {
                string s = i % 2 == 1 ? " alternate" : "";
                <div class="row@(s)">
                    <div class="column first">
                        <img src="@AppMgr.ImagePath/resim.jpg" />
                    </div>
                    <div class="column second">
                        Serhat ULUOCAK
                    </div>
                    <div class="column third">
                        Aktif
                    </div>
                    <div class="column fourth">
                        <a href="#">Kaldır</a><br />
                        <a onclick="javascript:;">İşlemler</a>
                    </div>
                </div>
            }
            <div class="row tfooter">
                <div class="column first">
                    Toplam 36 Sonuç Bulundu.
                </div>
                <div class="column second">
                    <a href="#">|<</a> <a href="#"><</a> <a href="#">></a> <a href="#">>|</a>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="row">
            <h2>Şirket Linkler
            </h2>
            <div class="rowcontent">
                @{ Html.RenderPartial("~/Areas/Sirket/Views/Profil/Kontroller/_SirketLinkler.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/SirketLinkler.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/Tablo.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/SirketOzgecmis.css" />
}
@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/SirketOzgecmis.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/TDDropDown.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Jquery/jquery.watermark.min.js"></script>
}