@using TDLibrary
@using Repository.UsersModel

@{
    Users user = AppTools.User;
}

<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-reorder"></i> Menü</a>
    <ul>
        <li data-url="Giris" class="active">
            <a href="@AppMgr.AdminPath/Home/Index"><i class="icon icon-home"></i> <span>Ana Sayfa</span></a>
        </li>
        @{ if (user.HasRight("Category") && "Category".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-sitemap"></i> <span>Kategoriler</span></a>
                    <ul>
                        <li data-url="Category"><a href="@AppMgr.AdminPath/Category">Kategoriler</a></li>
                        <li data-url="CategoryT"><a href="@AppMgr.AdminPath/CategoryT">Kategoriler (Dil)</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Content") && "Content".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-edit"></i> <span>İçerikler</span></a>
                    <ul>
                        <li data-url="Content"><a href="@AppMgr.AdminPath/Content">İçerikler</a></li>
                        <li data-url="ContentT"><a href="@AppMgr.AdminPath/ContentT">İçerikler (Dil)</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Product") && "Product".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-barcode"></i> <span>Ürünler</span></a>
                    <ul>
                        <li data-url="Product"><a href="@AppMgr.AdminPath/Product">Ürünler</a></li>
                        <li data-url="ProductT"><a href="@AppMgr.AdminPath/ProductT">Ürünler (Dil)</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Gallery") && "Gallery".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-picture"></i> <span>Galeri</span></a>
                    <ul>
                        <li data-url="Gallery"><a href="@AppMgr.AdminPath/Gallery">Galeri</a></li>
                        <li data-url="GalleryT"><a href="@AppMgr.AdminPath/GalleryT">Galeri (Dil)</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Pictures") && "Pictures".ShowType() == true)
            {
                <li data-url="Pictures">
                    <a href="@AppMgr.AdminPath/Pictures"><i class="icon icon-camera-retro"></i> <span>Resimler</span></a>
                </li>
            }
        }

        @{ if (user.HasRight("Files") && "Files".ShowType() == true)
            {
                <li data-url="Files">
                    <a href="@AppMgr.AdminPath/Files"><i class="icon icon-file"></i> <span>Dosyalar</span></a>
                </li>
            }
        }

        @{ if (user.HasRight("Meta") && "Meta".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-tags"></i> <span>Meta</span></a>
                    <ul>
                        <li data-url="Meta"><a href="@AppMgr.AdminPath/Meta">Meta</a></li>
                        <li data-url="MetaT"><a href="@AppMgr.AdminPath/MetaT">Meta (Dil)</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("FormItems") && "FormItems".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-tasks"></i> <span>Form Elemanları</span></a>
                    <ul>
                        <li data-url="FormItems"><a href="@AppMgr.AdminPath/FormItems">Form Elemanları</a></li>
                        <li data-url="FormGroups"><a href="@AppMgr.AdminPath/FormGroups">Form Grupları</a></li>
                        <li data-url="FormAttributes"><a href="@AppMgr.AdminPath/FormAttributes">Form Eleman Özellikleri</a></li>
                        <li data-url="FormValues"><a href="@AppMgr.AdminPath/FormValues">Form Eleman Değerleri</a></li>
                        <li data-url="FormTypes"><a href="@AppMgr.AdminPath/FormTypes">Form Tipleri</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("LinkTypes") && "LinkTypes".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-link"></i> <span>Bağlı Tipler</span></a>
                    <ul>
                        <li data-url="LinkTypes"><a href="@AppMgr.AdminPath/LinkTypes">Bağlı Tipler</a></li>
                        <li data-url="Links"><a href="@AppMgr.AdminPath/Links">Bağlantılar</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Translation") && "Translation".ShowType() == true)
            {
                <li data-url="Translation">
                    <a href="@AppMgr.AdminPath/Translation"><i class="icon icon-globe"></i> <span>Diller</span></a>
                </li>
            }
        }

        @{ if (user.HasRight("Logs") && "Logs".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-eye-open"></i> <span>Loglar</span></a>
                    <ul>
                        <li data-url="Logs"><a href="@AppMgr.AdminPath/Logs">Loglar</a></li>
                        <li data-url="LogTypes"><a href="@AppMgr.AdminPath/LogTypes">Log Tipleri</a></li>
                        <li data-url="LogProcess"><a href="@AppMgr.AdminPath/LogProcess">Log İşlemleri</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Visitors") && "Visitors".ShowType() == true)
            {
                <li data-url="Visitors">
                    <a href="@AppMgr.AdminPath/Visitors"><i class="icon icon-plane"></i> <span>Ziyaretçiler</span></a>
                </li>
            }
        }

        @{ if (user.HasRight("Users") && "Users".ShowType() == true)
            {
                <li class="submenu">
                    <a href="#"><i class="icon icon-user"></i> <span>Kullanıcılar</span></a>
                    <ul>
                        <li data-url="Users"><a href="@AppMgr.AdminPath/Users">Kullanıcılar</a></li>
                        <li data-url="UserGroups"><a href="@AppMgr.AdminPath/UserGroups">Kullanıcı Grupları</a></li>
                        <li data-url="UserGroupTables"><a href="@AppMgr.AdminPath/UserGroupTables">Kullanıcı Grup Tabloları</a></li>
                        <li data-url="UserGroupRights"><a href="@AppMgr.AdminPath/UserGroupRights">Kullanıcı Grup Hakları</a></li>
                        <li data-url="UserGroupProcess"><a href="@AppMgr.AdminPath/UserGroupProcess">Kullanıcı Grup İşlemleri</a></li>
                    </ul>
                </li>
            }
        }

        @{ if (user.HasRight("Types") && "Types".ShowType() == true)
            {
                <li data-url="Types">
                    <a href="@AppMgr.AdminPath/Types"><i class="icon icon-pushpin"></i> <span>Tipler</span></a>
                </li>
            }
        }
</div>