@model List<Emlak.PanelMenu>
@using Emlak
@using TDLibrary

<div class="menu">
    <ul>
        @{
            int i = 0;
            foreach (PanelMenu item in Model)
            {
                <li>
                    <a class="@(i == 0 ? " current" : "" )" href="@(String.IsNullOrEmpty(item.MenuLink) ? AppMgr.AdminPath + "/" : item.MenuLink == "javascript:;" ? "javascript:;" : AppMgr.AdminPath + "/Panel/" + item.MenuLink)">@(item.MenuName != null ? item.MenuName : "")</a>
                    <ul>
                        @{
                            foreach (PanelMenu subItem in item.SubMenuItems)
                            {
                                <li><a href="@(String.IsNullOrEmpty(subItem.MenuLink) ? AppMgr.AdminPath + "/Panel/" : subItem.MenuLink == "javascript:;" ? "javascript:;" : AppMgr.AdminPath + "/Panel/" + subItem.MenuLink)">@(subItem.MenuName != null ? subItem.MenuName : "")</a></li>
                            }
                        }
                    </ul>
                </li>
                i++;
            }
        }
    </ul>
</div>
