@using TDLibrary

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Emlak Sitesi - Yönetim Paneli Giriş Sayfası</title>
    <link rel="shortcut icon" href="@AppMgr.ImagePath/admin/icons/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="@AppMgr.ImagePath/admin/icons/favicon.ico" type="image/x-icon /">
    <link type="text/css" href="@AppMgr.StylePath/admin/login.css?v=1.1" rel="stylesheet" />
    <script type="text/javascript" src="@AppMgr.ScriptPath/admin/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/admin/pathscript.js?v=1.1"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/admin/script.js?v=1.1"></script>
</head>
<body>
    <div class="logoframe">
        <div class="logo">
            <img src="@AppMgr.ImagePath/admin/logo.png" alt="" title="" border="0" />
        </div>
    </div>
    <div class="loginframe">
        <div class="loginframeleft whole">
            Kullanıcı Adı
        </div>
        <div class="loginframeright whole">
            <input id="txtUserName" type="text" />
        </div>
        <div class="loginframeleft whole">
            Şifre
        </div>
        <div class="loginframeright whole">
            <input id="txtPassword" type="password" />
        </div>
        <div class="loginframeleft whole">
        </div>
        <div class="loginframeright whole">
            <input id="btnGiris" type="button" value="Giriş Yap" />
        </div>
    </div>
    <input type="hidden" id="hdnUrl" value="@Urling.URLWithParams" />
</body>
</html>
