@using TDLibrary

<h1>tdCompleter by Sina SALIK</h1>
( <a href="downloads/tdCompleter.zip?v=1.5">İndir</a> )
                <br />
<h3>Notlar</h3>
Autocomplete eklenecek textbox'a aşağıdaki şekilde eklenir.
                <pre style="width: 750px;">
    $("#completeText1").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler",
    });
                </pre>
listmethod özelliği dönecek verileri döndüren ajaxmethodunun yolunu alır.<br />
Veri json veri olarak döner.
                <br />
<h2>Seçildiğinde Redirect Olan Autocomplete</h2>
<b style="float: left; margin: 0px 5px 0px 0px;">Şehir İsmi :</b>
<input type="text" id="completeText1" autocomplete="off" />
<br />
<br />
<pre style="width: 750px;">
    $("#completeText1").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler",
        linkroot: "@AppMgr.MainPath/",
        redirect: true
    });
                </pre>


<h2>Seçildiğinde Redirect Olmayan Mikrofonlu Autocomplete</h2>
<b style="float: left; margin: 0px 5px 0px 0px;">Şehir İsmi :</b>
<input type="text" id="completeText2" autocomplete="off" />
<br />
<br />
<pre style="width: 750px;">
    $("#completeText2").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler",
        linkroot: "@AppMgr.MainPath/",
        redirect: false
    });
                </pre>


<h2>Seçildiğinde Redirect Olan Sabit Textli Autocomplete</h2>
<b style="float: left; margin: 0px 5px 0px 0px;">Şehir İsmi :</b>
<input type="text" id="completeText3" autocomplete="off" />
<br />
<br />
<pre style="width: 750px;">
    $("#completeText3").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler",
        linkroot: "@AppMgr.MainPath/",
        linktext: "#-sehri",
        redirect: true
    });
                </pre>


<h2>Seçildiğinde Redirect Olan Sabit Textli ve ID'li Autocomplete</h2>
<b style="float: left; margin: 0px 5px 0px 0px;">Şehir İsmi :</b>
<input type="text" id="completeText4" autocomplete="off" />
<br />
<br />
<pre style="width: 750px;">
    $("#completeText4").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler2",
        linkroot: "@AppMgr.MainPath/",
        linktext: "sehir-#",
        redirect: true
    });
                </pre>


<h2>Seçildiğinde Redirect Olmayan Sabit Textli, Resimli ve ID'li Autocomplete</h2>
<b style="float: left; margin: 0px 5px 0px 0px;">Şehir İsmi :</b>
<input type="text" id="completeText5" autocomplete="off" />
<br />
<br />
<pre style="width: 750px;">
    $("#completeText5").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler3",
        linkroot: "@AppMgr.MainPath/",
        linktext: "sehir-#",
        redirect: false
    });
                </pre>


<h2>Seçildiğinde Redirect Olan Resimli Autocomplete</h2>
<b style="float: left; margin: 0px 5px 0px 0px;">Şehir İsmi :</b>
<input type="text" id="completeText6" autocomplete="off" />
<br />
<br />
<pre style="width: 750px;">
    $("#completeText6").tdCompleter({
        listmethod: "@AppMgr.MainPath/Ajax/Sehirler3",
        linkroot: "@AppMgr.MainPath/",
        redirect: true
    });
                </pre>



Aşağıda bütün özelliklere ait varsayılan değerler ve ne şekilde kullanıldıkları belirtilmiştir.
                <pre style="width: 750px;">
        listmethod: "",
        minlength: 3,
        redirect: false,
        linkroot: "",
        linktext: "",
        withvoice: false
                </pre>

<b>listmethod : </b>Listeye veri dönen ajax web metodu. Tek boyutlu string List (List&#60string&#62), iki boyutlu string Dictionary (Dictionary&#60string, string&#62), üç boyutlu Tuple (List&#60Tuple&#60string, string, string&#62&#62) veya kendi oluşturduğunuz üç boyutlu bir Generic Class (List&#60MyGeneric&#60string, string, string&#62&#62) List dönen metodlar yazılır. Varsayılanı boştur. Eğer Dictionary şeklinde 2 boyutlu veri dönerse ilk string listedeki elemanın açıklama kısmı ikinci string ise oluşacak url için text veya ID gibi değerleri döndermelidir. Üç boyutlu Tuple yada kendi Generic class'ınızda ise ilk iki string Dictionary ile aynı şeyleri dönerken üçüncü dönen string eklenecek resmin url'sini içermelidir.
                <br />
<br />
<b>minlength : </b>Minimum kaç harf girince autocomplete çalışacak. Varsayılanı üçtür.
                <br />
<br />
<b>redirect : </b>Listedeki elemana tıklandığında yada focus edildiğinde seçili nesnenin linkine gider. Varsayılanı falsetur.
                <br />
<br />
<b>linkroot : </b>Link eklerken oluşturulan linkin root dizini belirtilir. Varsayılanı boştur.
                <br />
<br />
<b>linktext : </b>Eğer link içerisinde bir sabit belirtilmek istenirse belirtilir. "link-#" veya "#-link" veya "link/#/" gibi şekillerde kullanılabilir. # işareti konan yere gelen data replace olur. Varsayılanı boştur.
                <br />
<br />
<b>withvoice : </b>True olursa textbox'a mikrofonla arama girişi ekler. Her tarayıcı desteklemiyor olabilir. Varsayılanı falsetur.
                <br />
<br />