@using TDLibrary

<h1>tdSlider by Sina SALIK</h1>
( <a href="downloads/tdSlider.zip?v=1.5">İndir</a> )
    <br />
<h3>Notlar</h3>
<img src="@AppMgr.MainPath/images/slider/sample.jpg" />
<br />
<br />
Yukarıdaki resimdeki gibi kullanılıyor. Uygulanacak div içerisine resimler yazılıyor.
    <br />
Resimlere özellik olarak <b>data-tab</b> ve <b>data-tab-text</b> özellikleri ekleniyor.
    <br />
<b>data-tab</b> özelliği resimler tablı olursa ekleneceği tabın kodu oluyor. Buna göre tablara ayrılıyor resimler.
    <br />
<b>data-tab-text</b> özelliği ise tab içerisine yazılacak metin.
    <br />
Daha sonra aşağıdaki kod ile ilgili div'e uygulama yapılıyor.
    <br />
<h2>Tablı, Soldan Sağa Efektli, Button Clickli ve Thumblı Slider</h2>
<pre>
    Kullanım;

    $("#slider").tdSlider({
        autostart: false,
        slideonclick: true,
        imagestretch: true,
        width: 830,
        height: 255,
        direction: "LTR",
        duration: 1000,
        effect: "slide",
        showbuttons: true,
        buttonstyle: "thumb",
        thumbheight: 40,
        thumbwidth: 100,
        tabeffect: "fade",
        tabbed: true,
        border: 0
    });
    </pre>

<div id="slider">
    <img src="@AppMgr.MainPath/images/slider/1.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/5.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/6.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/7.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/2.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/3.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/4.jpg" data-tab="hede" data-tab-text="Başlık 1" />
    <img src="@AppMgr.MainPath/images/slider/5.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/1.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/2.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/3.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/4.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/6.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/7.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/8.jpg" data-tab="hede2" data-tab-text="Başlık 2" />
    <img src="@AppMgr.MainPath/images/slider/9.jpg" data-tab="hede3" data-tab-text="Başlık 3" />
    <img src="@AppMgr.MainPath/images/slider/10.jpg" data-tab="hede3" data-tab-text="Başlık 3" />
    <img src="@AppMgr.MainPath/images/slider/11.jpg" data-tab="hede3" data-tab-text="Başlık 3" />
</div>
<div style="clear: both; margin-top: 10px;"></div>
<br />
<h2>Tabsız, Thumbsız, Fade Efektli ve Otomatik Slider</h2>
<pre>
    Kullanım;

    $("#slider2").tdSlider({
        autostart: true,
        slideonclick: false,
        imagestretch: true,
        direction: "UTD",
        duration: 1500,
        effect: "fade",
        showbuttons: false,
        tabbed: false,
        border: 1
    });
    </pre>
<div id="slider2">
    <img src="@AppMgr.MainPath/images/slider/1.jpg" />
    <img src="@AppMgr.MainPath/images/slider/2.jpg" />
    <img src="@AppMgr.MainPath/images/slider/3.jpg" />
    <img src="@AppMgr.MainPath/images/slider/4.jpg" />
    <img src="@AppMgr.MainPath/images/slider/5.jpg" />
    <img src="@AppMgr.MainPath/images/slider/6.jpg" />
    <img src="@AppMgr.MainPath/images/slider/7.jpg" />
    <img src="@AppMgr.MainPath/images/slider/8.jpg" />
    <img src="@AppMgr.MainPath/images/slider/9.jpg" />
    <img src="@AppMgr.MainPath/images/slider/10.jpg" />
    <img src="@AppMgr.MainPath/images/slider/11.jpg" />
</div>
<div style="clear: both; margin-top: 10px;"></div>
<h3>Özellikler</h3>
<pre>
        autostart:           true,
        slideonclick:        false,
        width:               700,
        height:              200,
        imagestretch:        false,
        direction:           "LTR",
        duration:            2000,
        effect:              "slide", 
        showbuttons:         true,
        buttonstyle:         "thumb",
        shownumbers:         false,
        thumbwidth:          130,
        thumbheight:         60,
        tabbed:              false,
        tabeffect:           "fade",
        border:              0 
    </pre>
<b>autostart : </b>Otomatik çalışıp çalışmama seçeneği.
    <br />
<br />
<b>slideonclick : </b>Büyük resimlere tıklanıldığında çalışması için.
    <br />
<br />
<b>width : </b>Sliderın genişliği.
    <br />
<br />
<b>height : </b>Sliderın yüksekliği.
    <br />
<br />
<b>imagestretch : </b>Slider içindeki resimlerin verilen boyuta göre ölçeklendirip ölçeklendirilmemesini sağlar.
    <br />
<br />
<b>effect : </b>Resimler arası geçiş efekti. -- slide fade none.
    <br />
<br />
<b>direction : </b>Slider effecti slide ise resimlerin ne tarafa doğru kayacağı ayarlanır. 
    <br />
LTR (Soldan Sağa)
    <br />
RTL (Sağdan Sola)
    <br />
UTD (Yukarıdan Aşağı)
    <br />
DTU (Aşağıdan Yukarı)
    <br />
<br />
<b>duration : </b>Diğer resime geçerken bekleme süresi.
    <br />
<br />
<b>showbuttons : </b>Resim geçişleri için butonların gösterilme seçeneği.
    <br />
<br />
<b>buttonstyle : </b>Şu an yapım aşamasında. (Sadece thumb çalışıyor.) 
    <br />
Bununla thumb, yuvarlak, kare, veya ok şeklinde butonlarla resim geçişleri sağlanacak. -- thumb circle square arrow
    <br />
<br />
<b>shownumbers : </b>buttonstyle circle veya square ise içerisine numara yazılıp yazılmaması.
    <br />
<br />
<b>thumbwidth : </b>buttonstyle thumb ise thumb genişliğini ayarlar.
    <br />
<br />
<b>thumbheight : </b>buttonstyle thumb ise thumb yüksekliğini ayarlar.
    <br />
<br />
<b>tabbed : </b>Yukarıya tab eklenip eklenmeyeceği.
    <br />
<br />
<b>tabeffect : </b>Tablar arası geçişte efektli yada efektsiz geçiş efekti. -- fade none
    <br />
<br />
<b>border : </b>Slider'a kenarlık ekler.
        <br />
<br />
<br />
<br />