<ul id="resumelinks">
    <li>
        <a class="home" href="@Url.Action("AnaSayfa", "Ozgecmis", new { area = "Aday" })">Profilim</a></li>
    <li>
        <a href="@Url.Action("Goster", "Ozgecmis", new { area = "Aday" })">Özgeçmişim</a></li>
    <li>
        <a class="update" href="@Url.Action("Guncelle", "Ozgecmis", new { area = "Aday" })">Özgeçmişimi Güncelle</a></li>
    <li>
        <a class="print" target="_blank" href="@Url.Action("Yazdir", "Ozgecmis", new { area = "Aday" })">Özgeçmişimi Yazdır</a></li>
    <li>
        <a class="writing" href="@Url.Action("Onyazilar", "Ozgecmis", new { area = "Aday" })">Önyazılarım</a></li>
    <li>
        <a class="applications" href="@Url.Action("Basvurular", "Ozgecmis", new { area = "Aday" })">Başvurularım</a></li>
    <li>
        <a class="message" href="@Url.Action("Mesajlar", "Ozgecmis", new { area = "Aday" })">Mesajlarım</a></li>
    <li>
        <a class="files" href="@Url.Action("Dosyalar", "Ozgecmis", new { area = "Aday" })">Dosyalarım</a></li>
    <li>
        <a class="favorite" href="@Url.Action("Ilanlar", "Favori", new { area = "Aday" })">Favori İlanlarım</a></li>
    <li>
        <a class="favorite" href="@Url.Action("Sirketler", "Favori", new { area = "Aday" })">Favori Şirketlerim</a></li>
    <li>
        <a class="block" href="@Url.Action("Sirketler", "Blok", new { area = "Aday" })">Engellenen Şirketler</a></li>
    <li>
        <a class="logout" onclick="javascript:;">Çıkış</a></li>
</ul>
