@model Repository.BaglantilarModel.Baglantilar

@{
    ViewBag.Title = "Bağlantı Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-link"></i> Bağlantı Ekle</a></div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <div class="editor-label">
                    @Html.HiddenFor(model => model.ID)
                </div>

                <div class="editor-label">
                    Bağlı Tip
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.LinkTypeID, Model.LinkTypesList)
                    <br/>
                    @Html.ValidationMessageFor(model => model.LinkTypeID)
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Bağlı Nesne
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.LinkID, Model.LinkedItemList)
                    <br />
                    @Html.ValidationMessageFor(model => model.LinkID)
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error" style="display:@(String.IsNullOrEmpty(Model.Mesaj) ? "none;" : "block;")">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>Hata!</strong> @Model.Mesaj
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" />
                    @Html.ActionLink("İptal", "Index", "Baglanti", null, new { @class = "btn btn-danger btn-cancel", data_controller="Bağlantılar" })
                </p>
            </fieldset>
        }
    </div>
</div>

