@model List<Links>
@using Repository.LinksModel
@using TDLibrary

@{
    ViewBag.Title = "Bağlantılar";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-link"></i> Bağlantılar</a></div>
    </div>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-link"></i></span>
                        <h5>Bağlantılar</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Bağlı Nesne</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (Links item in Model)
                                    {
                                        string linkTypeTitle = "";

                                        switch (item.LinkedTypeID)
                                        {
                                            case 1: linkTypeTitle = item.LinkedCategoryAdi; break;
                                            case 2: linkTypeTitle = item.LinkedContentAdi; break;
                                            case 3: linkTypeTitle = item.LinkedProductAdi; break;
                                            case 4: linkTypeTitle = item.LinkedGalleryAdi; break;
                                            case 5: linkTypeTitle = item.LinkedPicturesAdi; break;
                                            case 6: linkTypeTitle = item.LinkedFilesAdi; break;
                                            case 7: linkTypeTitle = item.LinkedMetaAdi; break;
                                            case 8: linkTypeTitle = item.LinkedFormGroupsAdi; break;
                                        }

                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Title</td>
                                            <td>@linkTypeTitle</td>
                                            <td style="text-align:center;">
                                                <div class="btn-group" style="text-align:left;">
                                                    <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="updLink" data-type="LinkTypes" href="@AppMgr.AdminPath/Links/Update/@item.ID">Düzenle</a></li>
                                                        <li><a class="dltLink" data-type="LinkTypes" data-id="@item.ID" data-controller="Links" data-toggle="modal" href="#dltData">Sil</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            @Html.ActionLink("Bağlantı Ekle", "Insert", "Links", null, new { @class = "btn btn-primary btn-add", data_type = "LinkTypes" })
        </div>
    </div>
</div>

@{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Controls/_CopyDelete.cshtml"); } @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Controls/_UserRightsControl.cshtml", "LinkTypes"); }

