<ul id="companylinks">
    <li><a class="home" href="@Url.Action("AnaSayfa", "Profil", new { area = "Sirket" })">Şirketim</a></li>
    <li><a class="about" href="@Url.Action("Hakkimizda", "Profil", new { area = "Sirket" })">Hakkımızda</a></li>
    <li><a class="announce" href="@Url.Action("Listele", "Ilan", new { area = "Sirket" })">İlanlar</a></li>
    <li><a class="giveannounce" href="@Url.Action("Ver", "Ilan", new { area = "Sirket" })">İlan Ver</a></li>
    <li><a class="applications" href="@Url.Action("Basvurular", "Profil", new { area = "Sirket" })">Başvurular</a></li>
    <li><a class="pool smalltext" href="@Url.Action("Ozgecmisler", "Profil", new { area = "Sirket" })">Özgeçmiş Havuzu</a></li>
    <li><a class="message" href="@Url.Action("Mesajlar", "Profil", new { area = "Sirket" })">Mesajlar</a></li>
    <li><a class="files" href="@Url.Action("Dosyalar", "Profil", new { area = "Sirket" })">Dosyalar</a></li>
    <li><a class="block smalltext" href="@Url.Action("Adaylar", "Blok", new { area = "Sirket" })">Engellenen Adaylar</a></li>
    <li><a class="logout" onclick="javascript:;">Çıkış</a></li>
</ul>
