@using Lib;

<ul id="loginmenu">
    <li><a class="home" href="@Url.Action("AnaSayfa", "Profil", new { area = "Sirket" })">Şirketim</a></li>
    <li><a class="about" href="@Url.Action("Hakkimizda", "Profil", new { area = "Sirket" })">Hakkımızda</a></li>
    <li><a class="announce" href="@Url.Action("Listele", "Ilan", new { area = "Sirket" })">İlanlar</a></li>
    <li><a class="applications" href="@Url.Action("Basvurular", "Profil", new { area = "Sirket" })">Başvurular</a></li>
    <li><a class="logout" onclick="javascript:;">Çıkış</a></li>
</ul>
<a id="loginbutton" onclick="javascript:;">HoşGeldiniz<br /><b>@(SabitDegerler.AktifFirma.SirketAdi)</b></a>