@using TDLibrary
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Sina SALIK (Projeler)</title>
    <link rel="stylesheet" type="text/css" href="@AppMgr.MainPath/css/stil.css?v=1.8" />
</head>
<body>
    <div class="main">
        <div class="frame">
            <div class="headertext">
                <h1>Projelerim</h1>
                <span>
                    Projelerde login yapılan kısımlara aşağıdaki bilgiler ile giriş yapabilirsiniz;
                    <br />
                    <br />
                    <b>kullanıcı adı :</b> yonet<br />
                    <b>şifre :</b> yonet
                </span>
            </div>
            <div class="project">
                <h2>Emlak Sitesi</h2>
                <a href="http://emlak.sinasalik.net/" target="_blank">Siteye Git</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/emlak.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Asp.Net MVC 5, C#.Net, Angular 4, Typescript, Jquery, Entity Framework, Sql Server, Ajax, Json, Responsive Design</div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <b>kullanıcı adı :</b> yonet<br />
                            <b>şifre :</b> yonet
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>Admin Panel Projesi</h2>
                <a href="http://panel.sinasalik.net/" target="_blank">Siteye Git</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/adminpanel.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Asp.Net, MVC 5 Razor, C#.Net, Sql Server, Entity Framework, Jquery, Ajax, Json, Bootstrap, Responsive Design</div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <b>kullanıcı adı :</b> yonet<br />
                            <b>şifre :</b> yonet
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>Ceyhan Polat Şiir Sitesi</h2>
                <a href="http://ceyhanpolat.sinasalik.net/" target="_blank">Siteye Git</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/cp.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Asp.Net MVC 5, C#.Net, Angular 4, Typescript, Jquery, Entity Framework, Sql Server, Ajax, Json, Responsive Design</div>
                    </div>
                    <div class="row">
                        <div class="cell">Sivaslı şair Ceyhan Polat için hazırlanmış şiir sitesi.</div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>TDFramework</h2>
                <a href="http://tdframework.sinasalik.net" target="_blank">Siteye Git</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/tdframework.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">C#</div>
                    </div>
                    <div class="row">
                        <div class="cell">Kendi geliştirdiğim framework. Kendi geliştirdiğim bütün web sitelerinde altyapı olarak kullanıyorum. Çalıştığım firmalara ait siteler için kullanmıyorum.</div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>TDControls</h2>
                <a href="http://calisma.sinasalik.net/TDControls" target="_blank">Siteye Git</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/tdcontrols.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Jquery</div>
                    </div>
                    <div class="row">
                        <div class="cell">Kendi geliştirdiğim jquery kontroller.</div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>İnsan Kaynakları Sitesi</h2>
                <a href="http://ik.sinasalik.net/" target="_blank">Siteye Git</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/ik.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Asp.Net MVC 5, C#.Net, Jquery, TDFramework, Sql Server, Ajax, Json, Responsive Design</div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <i>Yapım aşamasında.</i>
                            <br />
                            <br />
                            <b>kullanıcı adı :</b> yonet<br />
                            <b>şifre :</b> yonet
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>Ceyhan Polat Şiir Uygulaması</h2>
                <a href="http://ceyhanpolat.sinasalik.net/CeyhanPolat.apk" target="_blank" class="download">İndir</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/cpapk.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Android Studio, Java</div>
                    </div>
                    <div class="row">
                        <div class="cell">Sivaslı şair Ceyhan Polat için hazırlanmış Android uygulaması.</div>
                    </div>
                </div>
            </div>
            <div class="project">
                <h2>Emlak Uygulaması</h2>
                <a href="http://emlak.sinasalik.net/Emlak.apk" target="_blank" class="download">İndir</a>
                <div class="pic">
                    <img alt="" src="@AppMgr.MainPath/images/emlakapk.png" />
                </div>
                <div class="desc">
                    <div class="row">
                        <div class="cell title">Kullanılan Teknolojiler</div>
                        <div class="cell">Android Studio, Java</div>
                    </div>
                    <div class="row">
                        <div class="cell">Örnek emlak sitesinin android uygulama versiyonu.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
