@using TDLibrary

@{
    ViewBag.Title = "Kayıt Ol";
    Layout = "~/Views/_IKLayout.cshtml";
}

<script src="@AppMgr.ScriptPath/Angular/Scripts/Admin/Aday/islem.js"></script>

<div class="onecell">
    <div id="signup">
        <div class="row">
            <div class="left ralign">
                Adınız
            </div>
            <div class="right">
                <input id="name" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Soyadınız
            </div>
            <div class="right">
                <input id="surname" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Mail Adresi
            </div>
            <div class="right">
                <input id="mail" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Kullanıcı Adınız
            </div>
            <div class="right">
                <input id="username" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Şifreniz
            </div>
            <div class="right">
                <input id="password" type="password" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Şifreniz (Tekrar)
            </div>
            <div class="right">
                <input id="password2" type="password" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Yaşadığnız Şehir
            </div>
            <div class="right">
                <div id="cityselect" class="select">
                </div>
                <ul id="cityoptions" class="options" ng-controller="kontrolSehirler">
                    <li ng-if="$index == 0" ng-repeat="item in modelSehirler" data-value="{{item.Kod}}" data-selected="true">{{item.SehirAdi}}</li>
                    <li ng-if="$index > 0" ng-repeat="item in modelSehirler" data-value="{{item.Kod}}">{{item.SehirAdi}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Cinsiyetiniz
            </div>
            <div class="right">
                <div id="genderselect" class="select">
                </div>
                <ul id="genderoptions" class="options" ng-controller="kontrolCinsiyet">
                    <li ng-if="$index == 0" ng-repeat="item in modelCinsiyet" data-value="{{item.Kod}}" data-selected="true">{{item.Baslik}}</li>
                    <li ng-if="$index > 0" ng-repeat="item in modelCinsiyet" data-value="{{item.Kod}}">{{item.Baslik}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Telefon Numaranız
            </div>
            <div class="right">
                <input id="phone" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Hakkınızda (Tanıtıcı Cümleniz)
            </div>
            <div class="right">
                <textarea id="about"></textarea>
            </div>
        </div>
        <div class="row calign">
            <label>
                <input id="contract" type="checkbox" />
                <a href="#" target="_blank">Üyelik Sözleşmesini</a> kabul ediyorum.
            </label>
            <label>
                <br />
                <input id="newsletter" type="checkbox" />
                Bana uygun ilan ve haberlerden beni mail ile haberdar et.
            </label>
        </div>
        <div class="row calign">
            <input type="submit" id="save" class="orange" value="Kaydet" />
        </div>
    </div>
</div>

@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/TDDropDown.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/AdayKayit.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Jquery/jquery.mask.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Jquery/jquery.watermark.min.js"></script>
}
@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Kayit.css" />
}