@using Lib
@using TDLibrary
@using TDFramework
@using TDFramework.Common
@using Models.OzgecmisDosyaModel

@{
    ViewBag.Title = "Dosyalarım";
    Layout = "~/Views/_IKLayout.cshtml";
}

<div id="page" class="orange">
    <div id="left">
        <h2>Dosyalarım
        </h2>
        <div id="filescv">
            <div class="content yellow">
                <h3>Dosyalar</h3>
                <div class="row">
                    <div class="title">Başlık</div>
                    <div class="word"><input id="fileName" type="text" class="yellow" /></div>
                </div>
                <div class="row">
                    <div class="title">Dosya</div>
                    <div class="word"><input id="fileFile" name="fileFile" type="file" class="yellow" accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pps, .ppsx" /></div>
                </div>
                <div class="row">
                    <a id="addfile" onclick="javascript:;" class="yellow button">Ekle</a>
                </div>

                @{
                    Table<OzgecmisDosya> tabloDosya = new Table<OzgecmisDosya>();
                    tabloDosya.WhereList.Add(new Where(OzgecmisDosyaColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
                    tabloDosya.Select();

                    if (tabloDosya.HasData)
                    {
                        foreach (var item in tabloDosya.Data as List<OzgecmisDosya>)
                        {
                            <div class="row" data-guid="@item.Guid">
                                <div class="title">@item.Baslik</div>
                                <div class="word"><a target="_blank" href="@(AppMgr.UploadPath + "/Aday/" + SabitDegerler.AktifKullanici.Guid + "/" + item.Dosya)">@item.Dosya</a></div>
                                <a onclick="javascript:;" class="red button removefile" data-guid="@item.Guid">Sil</a>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </div>
    <div id="right">
        <div class="row">
            <h2>Özgeçmiş
            </h2>
            <div class="rowcontent">
                @{ Html.RenderPartial("~/Areas/Aday/Views/Ozgecmis/Kontroller/_OzgecmisLinkler.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section Stiller{
<link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
<link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/DosyalarCV.css" />
<link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/OzgecmisLinkler.css" />
}
@section Scriptler{
<script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/DosyalarCV.js"></script>
}