@using TDLibrary
@using Models.OnyaziModel

@model List<Onyazi>

@{
    ViewBag.Title = "Ön Yazılarım";
    Layout = "~/Views/_IKLayout.cshtml";
}

<div id="page" class="orange">
    <div id="left">
        <h2>Ön Yazılarım
        </h2>
        <div id="interview">
            <div class="content orange" data-tab="genel">
                <h3>Genel Bilgiler</h3>
                <div class="row">
                    <div class="title">Ön Yazılarım</div>
                    <div class="word">
                        <div id="interviews" class="select"></div>
                        <ul id="interviewopt" class="options">
                            <li data-value="0" data-selected="true">-</li>
                            @foreach (Onyazi item in Model)
                            {
                                <li data-value="@item.ID.ToString()">@item.Baslik</li>
                            }
                        </ul>
                    </div>
                </div>
                <h3>Yeni Ön Yazı Ekle</h3>
                <div class="row">
                    <div class="title">Başlık</div>
                    <div class="word">
                        <input type="text" id="name" class="orange" />
                    </div>
                </div>
                <div class="row">
                    <div class="title">Açıklama</div>
                    <div class="word">
                        <textarea id="description" class="orange"></textarea>
                    </div>
                </div>
                <div class="row">
                    <a id="clearinterview" onclick="javascript:;" class="orange button">Temizle</a>
                    <a id="deleteinterview" onclick="javascript:;" class="orange button">Sil</a>
                    <a id="saveinterview" onclick="javascript:;" class="orange button">Kaydet</a>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="row">
            <h2>Özgeçmiş
            </h2>
            <div class="rowcontent">
                @{ Html.RenderPartial("~/Areas/Aday/Views/Ozgecmis/Kontroller/_OzgecmisLinkler.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/OnyaziCV.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/OzgecmisLinkler.css" />
}
@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/TDDropDown.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/OnyaziCV.js"></script>
}