@using Lib
@using TDLibrary
@using TDFramework;
@using TDFramework.Common;
@using Models.SehirModel;
@using Models.DepartmanModel
@using Models.PozisyonModel
@using Models.SektorModel
@using Models.OzgecmisDeneyimModel
@using Models.OzgecmisReferansModel
@using Models.EgitimSeviyeModel
@using Models.EgitimBursModel
@using Models.OzgecmisEgitimModel
@using Models.OzgecmisSertifikaModel
@using Models.OzgecmisSinavModel
@using Models.OzgecmisDilModel
@using Models.OzgecmisBilgisayarModel
@using Models.OzgecmisDosyaModel
@using Models.OzgecmisGenelModel
@using Models.OzgecmisCalismaModel
@using Models.OzgecmisTercihModel
@model  Models.KullaniciModel.Kullanici
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yazdır</title>
    <script type="text/javascript" src="@AppMgr.ScriptPath/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Script.js"></script>
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/GosterCV.css" />
    <script type="text/javascript">
    $(document).ready(function () {
        var cssFiles = new Array(2);
        cssFiles[0] = '@AppMgr.StylePath/Sayfalar/Sayfa.css';
        cssFiles[1] = '@AppMgr.StylePath/Sayfalar/GosterCV.css';
            PrintDiv('left', cssFiles, "@(Model.Ad + " " + Model.Soyad) Özgeçmiş")
        });
    </script>
    <style>
        body {font-family:Verdana;}
        #left {float:none;margin:0px auto;border:none;}
    </style>
</head>
<body>
    @{
        OzgecmisGenel genel = new OzgecmisGenel();
        OzgecmisCalisma calisma = new OzgecmisCalisma();
        OzgecmisTercih tercih = new OzgecmisTercih();
        List<OzgecmisDeneyim> isList = new List<OzgecmisDeneyim>();
        List<OzgecmisDeneyim> stajList = new List<OzgecmisDeneyim>();
        List<OzgecmisReferans> referansList = new List<OzgecmisReferans>();
        List<OzgecmisEgitim> egitimList = new List<OzgecmisEgitim>();
        List<OzgecmisSertifika> sertifikaList = new List<OzgecmisSertifika>();
        List<OzgecmisSinav> sinavList = new List<OzgecmisSinav>();
        List<OzgecmisDil> dilList = new List<OzgecmisDil>();
        List<OzgecmisBilgisayar> yazilimList = new List<OzgecmisBilgisayar>();
        List<OzgecmisBilgisayar> donanimList = new List<OzgecmisBilgisayar>();
        List<OzgecmisBilgisayar> veritabaniList = new List<OzgecmisBilgisayar>();
        List<OzgecmisBilgisayar> tasarimList = new List<OzgecmisBilgisayar>();
        List<OzgecmisBilgisayar> bilgisayarList = new List<OzgecmisBilgisayar>();
        List<OzgecmisDosya> dosyaList = new List<OzgecmisDosya>();

        Table<OzgecmisGenel> tabloGenel = new Table<OzgecmisGenel>();
        tabloGenel.WhereList.Add(new Where(OzgecmisGenelColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloGenel.SelectSettings.Top = 1;
        tabloGenel.Select();

        if (tabloGenel.HasData)
        {
            genel = (tabloGenel.Data as List<OzgecmisGenel>).FirstOrDefault();
        }

        Table<OzgecmisCalisma> tabloCalisma = new Table<OzgecmisCalisma>();
        tabloCalisma.WhereList.Add(new Where(OzgecmisCalismaColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloCalisma.SelectSettings.Top = 1;
        tabloCalisma.Select();

        if (tabloCalisma.HasData)
        {
            calisma = (tabloCalisma.Data as List<OzgecmisCalisma>).FirstOrDefault();
        }

        Table<OzgecmisTercih> tabloTercih = new Table<OzgecmisTercih>();
        tabloTercih.WhereList.Add(new Where(OzgecmisTercihColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloTercih.SelectSettings.Top = 1;
        tabloTercih.Select();

        if (tabloTercih.HasData)
        {
            tercih = (tabloTercih.Data as List<OzgecmisTercih>).FirstOrDefault();
        }

        Table<OzgecmisDeneyim> tabloIs = new Table<OzgecmisDeneyim>();
        tabloIs.WhereList.Add(new Where(OzgecmisDeneyimColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloIs.WhereList.Add(new Where(OzgecmisDeneyimColumns.Tip, 1));
        tabloIs.Select();

        if (tabloIs.HasData)
        {
            isList = tabloIs.Data as List<OzgecmisDeneyim>;
        }

        Table<OzgecmisDeneyim> tabloStaj = new Table<OzgecmisDeneyim>();
        tabloStaj.WhereList.Add(new Where(OzgecmisDeneyimColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloStaj.WhereList.Add(new Where(OzgecmisDeneyimColumns.Tip, 2));
        tabloStaj.Select();

        if (tabloStaj.HasData)
        {
            stajList = tabloStaj.Data as List<OzgecmisDeneyim>;
        }

        Table<OzgecmisReferans> tabloReferans = new Table<OzgecmisReferans>();
        tabloReferans.WhereList.Add(new Where(OzgecmisReferansColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloReferans.Select();

        if (tabloReferans.HasData)
        {
            referansList = tabloReferans.Data as List<OzgecmisReferans>;
        }

        Table<OzgecmisEgitim> tabloEgitim = new Table<OzgecmisEgitim>();
        tabloEgitim.WhereList.Add(new Where(OzgecmisEgitimColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloEgitim.Select();

        if (tabloEgitim.HasData)
        {
            egitimList = tabloEgitim.Data as List<OzgecmisEgitim>;
        }

        Table<OzgecmisSertifika> tabloSertifika = new Table<OzgecmisSertifika>();
        tabloSertifika.WhereList.Add(new Where(OzgecmisSertifikaColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloSertifika.Select();

        if (tabloSertifika.HasData)
        {
            sertifikaList = tabloSertifika.Data as List<OzgecmisSertifika>;
        }

        Table<OzgecmisSinav> tabloSinav = new Table<OzgecmisSinav>();
        tabloSinav.WhereList.Add(new Where(OzgecmisSinavColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloSinav.Select();

        if (tabloSinav.HasData)
        {
            sinavList = tabloSinav.Data as List<OzgecmisSinav>;
        }

        Table<OzgecmisDil> tabloDil = new Table<OzgecmisDil>();
        tabloDil.WhereList.Add(new Where(OzgecmisDilColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloDil.Select();

        if (tabloDil.HasData)
        {
            dilList = tabloDil.Data as List<OzgecmisDil>;
        }

        Table<OzgecmisBilgisayar> tabloYazilim = new Table<OzgecmisBilgisayar>();
        tabloYazilim.WhereList.Add(new Where(OzgecmisBilgisayarColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloYazilim.WhereList.Add(new Where(OzgecmisBilgisayarColumns.Tip, 1));
        tabloYazilim.Select();

        if (tabloYazilim.HasData)
        {
            yazilimList = tabloYazilim.Data as List<OzgecmisBilgisayar>;
        }

        Table<OzgecmisBilgisayar> tabloDonanim = new Table<OzgecmisBilgisayar>();
        tabloDonanim.WhereList.Add(new Where(OzgecmisBilgisayarColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloDonanim.WhereList.Add(new Where(OzgecmisBilgisayarColumns.Tip, 2));
        tabloDonanim.Select();

        if (tabloDonanim.HasData)
        {
            donanimList = tabloDonanim.Data as List<OzgecmisBilgisayar>;
        }

        Table<OzgecmisBilgisayar> tabloVeritabani = new Table<OzgecmisBilgisayar>();
        tabloVeritabani.WhereList.Add(new Where(OzgecmisBilgisayarColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloVeritabani.WhereList.Add(new Where(OzgecmisBilgisayarColumns.Tip, 3));
        tabloVeritabani.Select();

        if (tabloVeritabani.HasData)
        {
            veritabaniList = tabloVeritabani.Data as List<OzgecmisBilgisayar>;
        }

        Table<OzgecmisBilgisayar> tabloTasarim = new Table<OzgecmisBilgisayar>();
        tabloTasarim.WhereList.Add(new Where(OzgecmisBilgisayarColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloTasarim.WhereList.Add(new Where(OzgecmisBilgisayarColumns.Tip, 4));
        tabloTasarim.Select();

        if (tabloTasarim.HasData)
        {
            tasarimList = tabloTasarim.Data as List<OzgecmisBilgisayar>;
        }

        Table<OzgecmisBilgisayar> tabloBilgisayar = new Table<OzgecmisBilgisayar>();
        tabloBilgisayar.WhereList.Add(new Where(OzgecmisBilgisayarColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloBilgisayar.WhereList.Add(new Where(OzgecmisBilgisayarColumns.Tip, 5));
        tabloBilgisayar.Select();

        if (tabloBilgisayar.HasData)
        {
            bilgisayarList = tabloBilgisayar.Data as List<OzgecmisBilgisayar>;
        }

        Table<OzgecmisDosya> tabloDosya = new Table<OzgecmisDosya>();
        tabloDosya.WhereList.Add(new Where(OzgecmisDosyaColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
        tabloDosya.Select();

        if (tabloDosya.HasData)
        {
            dosyaList = tabloDosya.Data as List<OzgecmisDosya>;
        }
    }
    <div id="left">
        <h2>@(Model.Ad + " " + Model.Soyad)</h2>
        <div id="photo">
            @if (Model.Resim != null)
            {
                <img id="userphoto" src="@AppMgr.UploadPath/Aday/@Model.Guid/@Model.Resim" />
            }
            else
            {
                <img id="userphoto" src="@AppMgr.ImagePath/resimyok.jpg" />
            }
        </div>
        <div id="showcv">
            <div class="content orange">
                <h3>Genel Bilgiler</h3>
                <div class="row">
                    <div class="title">Yaşadığı Yer</div>
                    <div class="word">@Metodlar.SehirGetir(genel.Sehir)</div>
                </div>
                <div class="row">
                    <div class="title">Cep Telefonu</div>
                    <div class="word">@genel.Telefon</div>
                </div>
                <div class="row">
                    <div class="title">E-Posta Adresi</div>
                    <div class="word">@genel.Mail</div>
                </div>
                <div class="row">
                    <div class="title">Doğum Tarihi</div>
                    <div class="word">@genel.DogumTarih</div>
                </div>
                <div class="row">
                    <div class="title">Cinsiyet</div>
                    <div class="word">@Metodlar.CinsiyetGetir(genel.Cinsiyet)</div>
                </div>
                <div class="row">
                    <div class="title">Medeni Hal</div>
                    <div class="word">@Metodlar.MedeniHalGetir(genel.MedeniHal)</div>
                </div>
                <div class="row">
                    <div class="title">Askerlik</div>
                    <div class="word">@Metodlar.AskerlikGetir(genel.Askerlik) (@genel.AskerlikTarih)</div>
                </div>
                <div class="row">
                    <div class="title">Ehliyet</div>
                    <div class="word">@(genel.Ehliyet ? genel.EhliyetSinif + " Sınıfı" : "Yok")</div>
                </div>
                <div class="row">
                    <div class="title">Sigara Kullanımı</div>
                    <div class="word">@(genel.Sigara ? "Var" : "Yok")</div>
                </div>
            </div>
            <div class="content blue">
                <h3>Çalışma Bilgileri</h3>
                <div class="row">
                    <div class="title">Meslek / Ünvan</div>
                    <div class="word">@calisma.MeslekUnvan</div>
                </div>
                <div class="row">
                    <div class="title">Çalışma Durumu</div>
                    <div class="word">@Metodlar.CalismaDurumuGetir(calisma.CalismaDurumu)</div>
                </div>
                <div class="row">
                    <div class="title">Toplam İş Deneyimi</div>
                    <div class="word">@Metodlar.ToplamDeneyimGetir(calisma.ToplamDeneyim)</div>
                </div>
                <div class="row">
                    <div class="title">Kişisel / Mesleki Bilgi</div>
                    <div class="word">@calisma.KisiselBilgi</div>
                </div>
                <h3>Tercihler</h3>
                <div class="row">
                    <div class="title">Çalışmak İstediği Sektörler</div>
                    <div class="word">
                        @{
                            int i = 0;

                            if (tercih.Sektor.Trim() == "")
                            {
                                @("Farketmez")
                            }
                            else
                            {
                                foreach (string item in tercih.Sektor.Split(','))
                                {
                                    if (i == 0)
                                    {
                                        @Metodlar.SektorGetir(item.ToInteger())
                                        i++;
                                    }
                                    else
                                    {
                                        @(", " + Metodlar.SektorGetir(item.ToInteger()))
                                        i++;
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="title">Çalışmak İstediği Bölümler</div>
                    <div class="word">
                        @{
                            if (tercih.Bolum.Trim() == "")
                            {
                                @("Farketmez")
                            }
                            else
                            {
                                i = 0;
                                foreach (string item in tercih.Bolum.Split(','))
                                {
                                    if (i == 0)
                                    {
                                        @Metodlar.BolumGetir(item.ToInteger())
                                        i++;
                                    }
                                    else
                                    {
                                        @(", " + Metodlar.BolumGetir(item.ToInteger()))
                                        i++;
                                    }
                                }
                            }

                        }
                    </div>
                </div>
                <div class="row">
                    <div class="title">Çalışmak İstediği Pozisyonlar</div>
                    <div class="word">
                        @{
                            if (tercih.Pozisyon.Trim() == "")
                            {
                                @("Farketmez")
                            }
                            else
                            {
                                i = 0;
                                foreach (string item in tercih.Pozisyon.Split(','))
                                {
                                    if (i == 0)
                                    {
                                        @Metodlar.PozisyonGetir(item.ToInteger())
                                        i++;
                                    }
                                    else
                                    {
                                        @(", " + Metodlar.PozisyonGetir(item.ToInteger()))
                                        i++;
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="title">Maaş Beklentisi</div>
                    <div class="word">@Metodlar.MaasGetir(tercih.Maas)</div>
                </div>
            </div>
            <div class="content green">
                @{
                    if (tabloIs.HasData)
                    {
                        <h3>İş Deneyimleri</h3>

                        foreach (var item in isList)
                        {
                            <div class="row">
                                <div class="title">
                                    @item.SirketIsmi<br />
                                    <br />
                                    <span>
                                        @Metodlar.SektorGetir(item.Sektor)<br />
                                        @Metodlar.BolumGetir(item.Bolum)<br />
                                        @Metodlar.PozisyonGetir(item.Pozisyon)<br />
                                        <br />
                                        @item.GirisTarih<br />
                                        @(item.Devam ? "Devam Ediyor" : item.CikisTarih)<br />
                                        <br />
                                        @Metodlar.SehirGetir(item.Sehir)
                                    </span>
                                </div>
                                <div class="word">
                                    @item.Aciklama
                                </div>
                            </div>
                        }
                    }
                }

                @{
                    if (tabloStaj.HasData)
                    {
                        <h3>Staj Deneyimleri</h3>

                        foreach (var item in stajList)
                        {
                            <div class="row">
                                <div class="title">
                                    @item.SirketIsmi<br />
                                    <br />
                                    <span>
                                        @Metodlar.SektorGetir(item.Sektor)<br />
                                        @Metodlar.BolumGetir(item.Bolum)<br />
                                        @Metodlar.PozisyonGetir(item.Pozisyon)<br />
                                        <br />
                                        @item.GirisTarih<br />
                                        @item.CikisTarih<br />
                                        <br />
                                        @Metodlar.SehirGetir(item.Sehir)
                                    </span>
                                </div>
                                <div class="word">
                                    @item.Aciklama
                                </div>
                            </div>
                        }
                    }
                }

                @{
                    if (tabloReferans.HasData)
                    {
                        <h3>Referanslar</h3>

                        foreach (var item in referansList)
                        {
                            <div class="row">
                                <div class="title">
                                    @item.AdSoyad
                                    <br />
                                    <br />
                                    <span>
                                        @item.Sirket<br />
                                        @item.Gorev
                                    </span>
                                </div>
                                <div class="word">
                                    @item.Telefon
                                    <br />
                                    @item.Mail
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="content purple">
                @{
                    <h3>Eğitim Bilgileri</h3>

                    <div class="row">
                        <div class="title">Eğitim Seviyesi</div>
                        <div class="word">@(Metodlar.SeviyeGetir(genel.Egitim))</div>
                    </div>

                    if (tabloEgitim.HasData)
                    {
                        <h3>Okullar</h3>
                        foreach (var item in egitimList)
                        {
                            <div class="row">
                                <div class="title">
                                    @item.Okul<br />
                                    <br />
                                    <span>
                                        @item.BaslangicTarih<br />
                                        @(item.Devam ? "Devam Ediyor" : item.BitisTarih)<br />
                                        <br />
                                        @Metodlar.SehirGetir(item.Sehir)
                                    </span>
                                </div>
                                <div class="word">
                                    @item.Fakulte<br />
                                    <span>
                                        @item.Bolum<br />
                                        @Metodlar.SeviyeGetir(item.Seviye)<br />
                                        @Metodlar.BursGetir(item.Burs)<br />
                                        @item.Ortalama
                                    </span>
                                </div>
                            </div>
                        }
                    }
                }

                @{
                    if (tabloSertifika.HasData)
                    {
                        <h3>Sertifikalar</h3>

                        foreach (var item in sertifikaList)
                        {
                            <div class="row">
                                <div class="title">
                                    @item.Baslik<br />
                                    <br />
                                    <span>@item.Tarih</span>
                                </div>
                                <div class="word">
                                    @item.Kurum<br />
                                    <span>@item.Aciklama</span>
                                </div>
                            </div>
                        }
                    }
                }

                @{
                    if (tabloSinav.HasData)
                    {
                        <h3>Sınavlar</h3>
                        foreach (var item in sinavList)
                        {
                            <div class="row">
                                <div class="title">
                                    @item.Baslik<br />
                                    <span>
                                        @item.Kurum<br />
                                        @item.Tarih
                                    </span>
                                </div>
                                <div class="word">
                                    @item.Puan
                                    <br />
                                    <br />
                                    <span>@item.Aciklama</span>
                                </div>
                            </div>
                        }
                    }
                }

                @{
                    if (tabloDil.HasData)
                    {
                        <h3>Yabancı Dil</h3>
                        foreach (var item in dilList)
                        {
                            <div class="row">
                                <div class="title">@item.Dil</div>
                                <div class="word">
                                    Okuma (@item.Okuma), Yazma (@item.Yazma), Konuşma (@item.Konusma)
                                </div>
                            </div>
                        }
                    }
                }

                @if (tabloYazilim.HasData || tabloDonanim.HasData || tabloVeritabani.HasData || tabloTasarim.HasData || tabloBilgisayar.HasData)
                {
                    <h3>Bilgisayar Bilgileri</h3>
                }

                @{
                    if (tabloYazilim.HasData)
                    {
                        <div class="row">
                            <div class="title">Yazılım</div>
                            <div class="word">
                                @foreach (var item in yazilimList)
                                {
                                    @(item.Baslik + " " + (item.Seviye))<br />
                                }
                            </div>
                        </div>
                    }
                }
                @{
                    if (tabloDonanim.HasData)
                    {
                        <div class="row">
                            <div class="title">Donanım</div>
                            <div class="word">
                                @foreach (var item in donanimList)
                                {
                                    @(item.Baslik + " " + (item.Seviye))<br />
                                }
                            </div>
                        </div>
                    }
                }
                @{
                    if (tabloVeritabani.HasData)
                    {
                        <div class="row">
                            <div class="title">Veritabanı</div>
                            <div class="word">
                                @foreach (var item in veritabaniList)
                                {
                                    @(item.Baslik + " " + (item.Seviye))<br />
                                }
                            </div>
                        </div>
                    }
                }
                @{
                    if (tabloTasarim.HasData)
                    {
                        <div class="row">
                            <div class="title">Tasarım</div>
                            <div class="word">
                                @foreach (var item in tasarimList)
                                {
                                    @(item.Baslik + " " + (item.Seviye))<br />
                                }
                            </div>
                        </div>
                    }
                }
                @{
                    if (tabloBilgisayar.HasData)
                    {
                        <div class="row">
                            <div class="title">Diğer</div>
                            <div class="word">
                                @foreach (var item in bilgisayarList)
                                {
                                    @(item.Baslik + " " + (item.Seviye))<br />
                                }
                            </div>
                        </div>
                    }
                }

            </div>
            @{
                if (tabloDosya.HasData)
                {
                    <div class="content yellow">
                        <h3>Dosyalar</h3>
                        @{
                    foreach (var item in tabloDosya.Data as List<OzgecmisDosya>)
                    {
                        <div class="row">
                            <div class="title">@item.Baslik</div>
                            <div class="word"><a target="_blank" href="@(AppMgr.UploadPath + "/Aday/" + SabitDegerler.AktifKullanici.Guid + "/" + item.Dosya)">@item.Dosya</a></div>
                        </div>
                    }
                        }
                    </div>
                }
            }
        </div>
    </div>

    @section Stiller{
        <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
        <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/GosterCV.css" />
        <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/OzgecmisLinkler.css" />
    }
</body>
</html>
