@using Lib
@using TDFramework
@using TDFramework.Common
@using TDLibrary
@using Models.SehirModel
@using Models.CalismaTipiModel
@using Models.DepartmanModel
@using Models.EgitimSeviyeModel
@using Models.PozisyonModel
@using Models.SektorModel
@using Models.CinsiyetModel
@using Models.MaasModel

@{
    ViewBag.Title = "İlan Ver";
    Layout = "~/Views/_IKLayout.cshtml";
}

<div id="page" class="blue">
    <div id="left">
        <h2>
            İlan Ver
        </h2>
        <div id="addannounce">
            <div class="content fixed">
                <div class="row">
                    <div class="title">İlan No</div>
                    <div class="word">
                        @{
                            string ilankodu = Guider.GetGuid(12).ToUpper();
                        }
                        <label data-val="@ilankodu" id="annnumber" class="blue">@ilankodu</label>
                    </div>
                </div>
            </div>
            <div class="content blue" data-tab="icerik">
                <h3>İlan İçeriği</h3>

                <div class="row">
                    <div class="title">İlan Başlığı</div>
                    <div class="word">
                        <input type="text" id="annheader" class="blue" />
                    </div>
                </div>
                <div class="row">
                    <div class="title">İlan Başlangıç Tarihi</div>
                    <div class="word">
                        <input type="text" id="annstartdate" class="blue" />
                    </div>
                </div>
                <div class="row">
                    <div class="title">İlan Bitiş Tarihi</div>
                    <div class="word">
                        <input type="text" id="annenddate" class="blue" />
                    </div>
                </div>
                <div class="row">
                    <div class="title">İlan İçeriği</div>
                    <div class="word">
                        <textarea id="anncontent"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Yayınla</div>
                    <div class="word">
                        <input type="checkbox" id="annactive" class="blue" />
                    </div>
                </div>
                <div class="row">
                    <a href="javascript:;" class="blue button addannounce">Kaydet</a>
                </div>
            </div>
            <div class="content orange" style="display: none;" data-tab="sartn">
                <h3>İlan Şartları</h3>
                <div class="row">
                    <div class="title">Çalışmak Şekli</div>
                    <div class="word">
                        <div id="annworktype" class="select orange"></div>
                        <ul class="options orange">
                            @{
                                Table<CalismaTipi> tabloCalisma = new Table<CalismaTipi>();
                                tabloCalisma.SelectSettings = new Select();
                                tabloCalisma.SelectSettings.OrderColumn = CalismaTipiColumns.Kod;

                                tabloCalisma.Select();

                                int i = 0;

                                foreach (var item in tabloCalisma.Data as List<CalismaTipi>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Cinsiyet</div>
                    <div class="word">
                        <div id="anngender" class="select orange"></div>
                        <ul class="options orange">
                            @{
                                Table<Cinsiyet> tabloCinsiyet = new Table<Cinsiyet>();
                                tabloCinsiyet.WhereList.Add(new Where(CinsiyetColumns.Aktif, true));
                                tabloCinsiyet.SelectSettings = new Select();
                                tabloCinsiyet.SelectSettings.OrderColumn = CinsiyetColumns.Kod;

                                tabloCinsiyet.Select();

                                i = 0;

                                foreach (var item in tabloCinsiyet.Data as List<Cinsiyet>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Maaş Seviyesi</div>
                    <div class="word">
                        <div id="annsalary" class="select orange"></div>
                        <ul class="options orange">
                            @{
                                Table<Maas> tabloMaas = new Table<Maas>();
                                tabloMaas.SelectSettings = new Select();
                                tabloMaas.SelectSettings.OrderColumn = MaasColumns.Kod;
                                tabloMaas.SelectSettings.OrderBy = OrderBy.ASC;

                                tabloMaas.Select();

                                i = 0;

                                foreach (var item in tabloMaas.Data as List<Maas>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Şehirler</div>
                    <div class="word">
                        <input type="text" id="anncity" class="select orange" />
                        <ul id="anncityoptions" class="options orange">
                            @{
                                Table<Sehir> tabloSehir = new Table<Sehir>();
                                tabloSehir.SelectSettings = new Select();
                                tabloSehir.SelectSettings.OrderColumn = SehirColumns.Sira;
                                tabloSehir.WhereList.Add(new Where(SehirColumns.Kod, 9999, true));
                                tabloSehir.WhereList.Add(new Where(SehirColumns.Kod, 34, true));

                                tabloSehir.Select();

                                i = 0;

                                foreach (var item in tabloSehir.Data as List<Sehir>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.SehirAdi</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.SehirAdi</li>
                                    }
                                }
                            }
                        </ul>
                        <a id="addcity" class="addbutton" href="javascript:;"></a>
                        <label><input id="citycheck" type="checkbox" /> İlan Sorularına Ekle</label>
                        <ul id="addedcities" class="addeditems"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Eğitim Seviyesi</div>
                    <div class="word">
                        <div id="anneducation" class="select orange">
                        </div>
                        <ul id="anneduoptions" class="options orange">
                            @{
                                Table<EgitimSeviye> tabloEgitim = new Table<EgitimSeviye>();
                                tabloEgitim.WhereList.Add(new Where(EgitimSeviyeColumns.Aktif, true));
                                tabloEgitim.SelectSettings = new Select();
                                tabloEgitim.SelectSettings.OrderColumn = EgitimSeviyeColumns.Kod;

                                tabloEgitim.Select();

                                i = 0;

                                foreach (var item in tabloEgitim.Data as List<EgitimSeviye>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                        <a id="addedu" class="addbutton" href="javascript:;"></a>
                        <br />
                        <br />
                        <ul id="addededus" class="addeditems"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Deneyim</div>
                    <div class="word">
                        <div id="annexperience" class="select orange">
                        </div>
                        <ul id="annexperoptions" class="options orange">
                            <li data-value="0" data-selected="true">Farketmez</li>
                            <li data-value="1">Tecrübesiz</li>
                            <li data-value="2">0-2 Yıl</li>
                            <li data-value="3">2-5 Yıl</li>
                            <li data-value="4">5-10 Yıl</li>
                            <li data-value="5">10+ Yıl</li>
                        </ul>
                        <a id="addexper" class="addbutton" href="javascript:;"></a>
                        <br />
                        <br />
                        <ul id="addedexpers" class="addeditems"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Sektör</div>
                    <div class="word">
                        <input type="text" id="annsector" class="select orange" />
                        <ul id="annsectoroptions" class="options orange">
                            @{
                                Table<Sektor> tabloSektor = new Table<Sektor>();
                                tabloSektor.SelectSettings = new Select();
                                tabloSektor.SelectSettings.OrderColumn = SektorColumns.Kod;

                                tabloSektor.Select();

                                i = 0;

                                foreach (var item in tabloSektor.Data as List<Sektor>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                        <a id="addsector" class="addbutton" href="javascript:;"></a>
                        <ul id="addedsectors" class="addeditems"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Departman</div>
                    <div class="word">
                        <input type="text" id="anndepart" class="select orange" />
                        <ul id="anndepartoptions" class="options orange">
                            @{
                                Table<Departman> tabloDepartman = new Table<Departman>();
                                tabloDepartman.SelectSettings = new Select();
                                tabloDepartman.SelectSettings.OrderColumn = DepartmanColumns.Kod;

                                tabloDepartman.Select();

                                i = 0;

                                foreach (var item in tabloDepartman.Data as List<Departman>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                        <a id="adddepart" class="addbutton" href="javascript:;"></a>
                        <ul id="addeddeparts" class="addeditems"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Pozisyon</div>
                    <div class="word">
                        <input type="text" id="annposition" class="select orange" />
                        <ul id="annpositionoptions" class="options orange">
                            @{
                                Table<Pozisyon> tabloPozisyon = new Table<Pozisyon>();
                                tabloPozisyon.SelectSettings = new Select();
                                tabloPozisyon.SelectSettings.OrderColumn = PozisyonColumns.Kod;

                                tabloPozisyon.Select();

                                i = 0;

                                foreach (var item in tabloPozisyon.Data as List<Pozisyon>)
                                {
                                    if (i == 0)
                                    {
                                        <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                        i++;
                                    }
                                    else
                                    {
                                        <li data-value="@item.Kod">@item.Baslik</li>
                                    }
                                }
                            }
                        </ul>
                        <a id="addposition" class="addbutton" href="javascript:;"></a>
                        <ul id="addedpositions" class="addeditems"></ul>
                    </div>
                </div>
                <div class="row">
                    <a href="javascript:;" class="orange button saveprefer">Şartları Kaydet</a>
                </div>
            </div>
            <div class="content green" style="display: none;" data-tab="sorun">
                <h3>Hazır Sorular</h3>
                <div class="row">
                    <div class="title">Aktif Araç Kullanıyor musunuz?</div>
                    <div class="word">
                        <label><input id="activeDriver" type="checkbox" /> Bu Soruyu Ekle</label>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Hafta Sonları Çalışır mısınız?</div>
                    <div class="word">
                        <label><input id="workOnWeekend" type="checkbox" /> Bu Soruyu Ekle</label>
                    </div>
                </div>
                <div class="row">
                    <a id="savequestion" href="javascript:;" class="green button">Kaydet</a>
                </div>
                <h3>Kendi Sorularınız</h3>
                <div class="row">
                    <div class="title">Soru Tipi</div>
                    <div class="word">
                        <label><input class="questionType" id="questionType1" name="questionType" type="radio" checked="checked" /> Tek Cevaplı Soru</label>
                        <label><input class="questionType" id="questionType2" name="questionType" type="radio" /> Çok Seçenekli Soru</label>
                    </div>
                </div>
                <div class="row">
                    <div class="title">Soru</div>
                    <div class="word">
                        <input id="questionText" type="text" class="green" />
                    </div>
                </div>
                <div class="row questionoptions">
                    <div class="title">Seçenekler</div>
                    <div class="word">
                        <input id="questionopttext" type="text" class="green" /><a id="addquestionopt" class="addbutton green" href="javascript:;"></a>
                        <label><input class="questionType" id="questionCrit1" name="questionCrit" type="radio" checked="checked" /> Tek Seçenekli Cevap</label>
                        <label><input class="questionType" id="questionCrit2" name="questionCrit" type="radio" /> Çok Seçenekli Cevap</label>
                        <br />
                        <br />
                        <ul id="addedquestionopts" class="addeditems green"></ul>
                    </div>
                </div>
                <div class="row">
                    <a id="addquestion" href="javascript:;" class="green button">Soru Ekle</a>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="row">
            @{ Html.RenderPartial("~/Areas/Sirket/Views/Ilan/Kontroller/_IlanEkle.cshtml"); }
        </div>
        <div class="row">
            <h2>
                Şirket Linkler
            </h2>
            <div class="rowcontent">
                @{ Html.RenderPartial("~/Areas/Sirket/Views/Profil/Kontroller/_SirketLinkler.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Sayfa.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.ScriptPath/TDScripts/tdCalendar/tdCalendar.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/SirketLinkler.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/SirketIlanVer.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/IlanEkle.css" />
}
@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/Kontroller/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/SirketIlanVer.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Kontroller/IlanEkle.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/TDDropDown.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/tdCalendar/tdCalendar.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Jquery/jquery.watermark.min.js"></script>
}