@using TDLibrary

<div class="threecell rmargin crmargin">
    <ul id="jobstatus">
        <li>
            <a href="@Url.Action("IsTuru", "Ilan", new { area = "Is", id = "Tam-Zamanli" })">
                <img src="@AppMgr.ImagePath/icons/blue/fulltime.png" />
                <h3>Tam Zamanlı iş ilanları</h3>
                <span>1453 ilan</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("IsTuru", "Ilan", new { area = "Is", id = "Part-Time" })">
                <img src="@AppMgr.ImagePath/icons/blue/parttime.png" />
                <h3>Part-Time iş ilanları</h3>
                <span>345 ilan</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("IsTuru", "Ilan", new { area = "Is", id = "Freelance" })">
                <img src="@AppMgr.ImagePath/icons/blue/freelance.png" />
                <h3>Freelance iş ilanları</h3>
                <span>533 ilan</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("IsTuru", "Ilan", new { area = "Is", id = "Donemsel" })">
                <img src="@AppMgr.ImagePath/icons/blue/periodical.png" />
                <h3>Dönemsel iş ilanları</h3>
                <span>77 ilan</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("IsTuru", "Ilan", new { area = "Is", id = "Staj" })">
                <img src="@AppMgr.ImagePath/icons/blue/internship.png" />
                <h3>Staj ilanları</h3>
                <span>53 ilan</span>
            </a>
        </li>
    </ul>
</div>
