@using Lib
@using TDLibrary
@using TDFramework
@using TDFramework.Common
@using Models.AramaKayitModel
@using Models.SehirModel
@using Models.CalismaTipiModel
@using Models.DepartmanModel
@using Models.EgitimSeviyeModel
@using Models.PozisyonModel
@using Models.SektorModel
@using Models.CinsiyetModel

@{
    ViewBag.Title = "İlanlar";
    Layout = "~/Views/_IKLayout.cshtml";
}

<div class="onecell">
    <div id="jobs">
        <div id="jobsearch">
            <a id="leftclick"></a>
            @{
                if (SabitDegerler.AktifKullanici != null)
                {
                <div class="row">
                    <div class="cellheader">Kayıtlı Aramalar</div>
                    <div class="cellcontent">
                        <input type="text" id="searchselect" class="select bigselect" />
                        <ul id="searchoptions" class="options bigoptions">
                            <li data-value="0" data-selected="true">Seçilmedi</li>
                            @{
                                Table<AramaKayit> tabloArama = new Table<AramaKayit>();
                                tabloArama.SelectSettings = new Select();
                                tabloArama.WhereList.Add(new Where(AramaKayitColumns.KullaniciID, SabitDegerler.AktifKullanici.ID));
                                tabloArama.WhereList.Add(new Where(AramaKayitColumns.Aktif, true));

                                tabloArama.Select();

                                foreach (var item in tabloArama.Data as List<AramaKayit>)
                                {
                                      <li data-value="@item.ID">@item.Baslik</li>
                                }
                            }
                        </ul>
                        <br />
                        <input id="applysearch" type="button" value="Getir" class="orange srcbutton" />
                        <input id="deletesearch" type="button" value="Sil" class="orange srcbutton" />
                    </div>
                </div>
                }
            }
            <div class="row">
                <div class="cellheader">Anahtar Kelime</div>
                <div class="cellcontent">
                    <input id="keyword" type="text" class="bigselect" />
                    <label>
                        <input id="headertext" type="radio" name="keyword" checked="checked" />
                        İlan Başlığında Ara</label><br />
                    <label>
                        <input id="alltext" type="radio" name="keyword" />
                        Tümünde Ara</label><br />
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Şehir</div>
                <div class="cellcontent">
                    <input type="text" id="cityselect" class="select" />
                    <ul id="cityoptions" class="options">
                        @{
                            Table<Sehir> tabloSehir = new Table<Sehir>();
                            tabloSehir.SelectSettings = new Select();
                            tabloSehir.SelectSettings.OrderColumn = SehirColumns.Sira;
                            tabloSehir.WhereList.Add(new Where(SehirColumns.Kod, 9999, true));
                            tabloSehir.WhereList.Add(new Where(SehirColumns.Kod, 34, true));

                            tabloSehir.Select();

                            int i = 0;

                            foreach (var item in tabloSehir.Data as List<Sehir>)
                            {
                                if (i == 0)
                                {
                            <li data-value="@item.Kod" data-selected="true">@item.SehirAdi</li>
                                    i++;
                                }
                                else
                                {
                            <li data-value="@item.Kod">@item.SehirAdi</li>
                                }
                            }
                        }
                    </ul>
                    <a id="addcity" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addedcities" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">İlan Güncelliği</div>
                <div class="cellcontent">
                    <div id="jobtimeselect" class="select bigselect">
                    </div>
                    <ul id="jobtimeoptions" class="options bigoptions">
                        <li data-value="0" data-selected="true">Farketmez</li>
                        <li data-value="1">Bugünün İlanları</li>
                        <li data-value="3">Son 3 Gün</li>
                        <li data-value="7">Son 1 Hafta</li>
                        <li data-value="30">Son 1 Ay</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Çalışma Şekli</div>
                <div class="cellcontent">
                    <div id="worktypeselect" class="select">
                    </div>
                    <ul id="worktypeoptions" class="options">
                        @{
                            Table<CalismaTipi> tabloCalisma = new Table<CalismaTipi>();
                            tabloCalisma.SelectSettings = new Select();
                            tabloCalisma.SelectSettings.OrderColumn = CalismaTipiColumns.Kod;

                            tabloCalisma.Select();

                            i = 0;

                            foreach (var item in tabloCalisma.Data as List<CalismaTipi>)
                            {
                                if (i == 0)
                                {
                            <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                    i++;
                                }
                                else
                                {
                            <li data-value="@item.Kod">@item.Baslik</li>
                                }
                            }
                        }
                    </ul>
                    <a id="addworktype" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addedworktypes" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Sektör</div>
                <div class="cellcontent">
                    <input type="text" id="sectorselect" class="select" />
                    <ul id="sectoroptions" class="options">
                        @{
                            Table<Sektor> tabloSektor = new Table<Sektor>();
                            tabloSektor.SelectSettings = new Select();
                            tabloSektor.SelectSettings.OrderColumn = SektorColumns.Kod;

                            tabloSektor.Select();

                            i = 0;

                            foreach (var item in tabloSektor.Data as List<Sektor>)
                            {
                                if (i == 0)
                                {
                            <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                    i++;
                                }
                                else
                                {
                            <li data-value="@item.Kod">@item.Baslik</li>
                                }
                            }
                        }
                    </ul>
                    <a id="addsector" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addedsectors" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Departman</div>
                <div class="cellcontent">
                    <input type="text" id="departselect" class="select" />
                    <ul id="departoptions" class="options">
                        @{
                            Table<Departman> tabloDepartman = new Table<Departman>();
                            tabloDepartman.SelectSettings = new Select();
                            tabloDepartman.SelectSettings.OrderColumn = DepartmanColumns.Kod;

                            tabloDepartman.Select();

                            i = 0;

                            foreach (var item in tabloDepartman.Data as List<Departman>)
                            {
                                if (i == 0)
                                {
                            <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                    i++;
                                }
                                else
                                {
                            <li data-value="@item.Kod">@item.Baslik</li>
                                }
                            }
                        }
                    </ul>
                    <a id="adddepart" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addeddeparts" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Pozisyon</div>
                <div class="cellcontent">
                    <input type="text" id="positionselect" class="select" />
                    <ul id="positionoptions" class="options">
                        @{
                            Table<Pozisyon> tabloPozisyon = new Table<Pozisyon>();
                            tabloPozisyon.SelectSettings = new Select();
                            tabloPozisyon.SelectSettings.OrderColumn = PozisyonColumns.Kod;

                            tabloPozisyon.Select();

                            i = 0;

                            foreach (var item in tabloPozisyon.Data as List<Pozisyon>)
                            {
                                if (i == 0)
                                {
                            <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                    i++;
                                }
                                else
                                {
                            <li data-value="@item.Kod">@item.Baslik</li>
                                }
                            }
                        }
                    </ul>
                    <a id="addposition" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addedpositions" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Eğitim Seviyesi</div>
                <div class="cellcontent">
                    <div id="eduselect" class="select">
                    </div>
                    <ul id="eduoptions" class="options">
                        @{
                            Table<EgitimSeviye> tabloEgitim = new Table<EgitimSeviye>();
                            tabloEgitim.WhereList.Add(new Where(EgitimSeviyeColumns.Aktif, true));
                            tabloEgitim.SelectSettings = new Select();
                            tabloEgitim.SelectSettings.OrderColumn = EgitimSeviyeColumns.Kod;

                            tabloEgitim.Select();

                            i = 0;

                            foreach (var item in tabloEgitim.Data as List<EgitimSeviye>)
                            {
                                if (i == 0)
                                {
                            <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                    i++;
                                }
                                else
                                {
                            <li data-value="@item.Kod">@item.Baslik</li>
                                }
                            }
                        }
                    </ul>
                    <a id="addedu" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addededus" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Tecrübe</div>
                <div class="cellcontent">
                    <div id="experselect" class="select">
                    </div>
                    <ul id="experoptions" class="options">
                        <li data-value="0" data-selected="true">Farketmez</li>
                        <li data-value="1">Tecrübesiz</li>
                        <li data-value="2">0-2 Yıl</li>
                        <li data-value="3">2-5 Yıl</li>
                        <li data-value="4">5-10 Yıl</li>
                        <li data-value="5">10+ Yıl</li>
                    </ul>
                    <a id="addexper" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addedexpers" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Diğer Seçenekler</div>
                <div class="cellcontent">
                    <div id="otherselect" class="select">
                    </div>
                    <ul id="otheroptions" class="options">
                        <li data-value="0" data-selected="true">Farketmez</li>
                        @if (SabitDegerler.AktifKullanici != null)
                        {
                            <li data-value="1">Başvurduklarımı Gösterme</li>
                            <li data-value="2">Görüntülediklerimi Gösterme</li>
                        }
                        <li data-value="3">Türkiye Geneli İlanları</li>
                        <li data-value="4">Türkiye Geneli İlanlarını Gösterme</li>
                        <li data-value="5">Engelli İlanları</li>
                        <li data-value="6">Engelli İlanlarını Gösterme</li>
                        <li data-value="7">Terör Mağduru</li>
                        <li data-value="8">Terör Mağduru İlanlarını Gösterme</li>
                    </ul>
                    <a id="addother" class="addbutton" onclick="javascript:;"></a>
                    <ul id="addedothers" class="addeditems"></ul>
                </div>
            </div>
            <div class="row">
                <div class="cellheader">Cinsiyet</div>
                <div class="cellcontent">
                    <div id="genderselect" class="select bigselect">
                    </div>
                    <ul id="genderoptions" class="options bigoptions">
                        @{
                            Table<Cinsiyet> tabloCinsiyet = new Table<Cinsiyet>();
                            tabloCinsiyet.WhereList.Add(new Where(CinsiyetColumns.Aktif, true));
                            tabloCinsiyet.SelectSettings = new Select();
                            tabloCinsiyet.SelectSettings.OrderColumn = CinsiyetColumns.Kod;

                            tabloCinsiyet.Select();

                            i = 0;

                            foreach (var item in tabloCinsiyet.Data as List<Cinsiyet>)
                            {
                                if (i == 0)
                                {
                                    <li data-value="@item.Kod" data-selected="true">@item.Baslik</li>
                                    i++;
                                }
                                else
                                {
                                    <li data-value="@item.Kod">@item.Baslik</li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            @{
                <div class="row">
                    @if (SabitDegerler.AktifKullanici != null)
                    {
                        <input id="search" type="button" value="Uygula" class="orange buttonsearch" onclick="javascript:;" />
                        <div class="saveSearchArea" style="z-index: 999999;">
                            <div id="middlesaveArea">
                                <span>Başlık : </span><input id="searchHeader" type="text" />
                                <br />
                                <br />
                                <input id="searchSave" type="button" value="Kaydet" class="blue" />
                                <input id="searchCancel" type="button" value="İptal" class="blue" />
                            </div>
                            <img id="loadimg" src="@AppMgr.ImagePath/loading.gif" />
                        </div>
                        <div class="saveSearchArea" style="opacity:0.5;filter: alpha(opacity=50);background-color:#FF6000;">
                        </div>
                        <input id="savesearch" type="button" value="Kaydet" class="orange buttonsearch" onclick="javascript:;" />
                    }
                    else
                    {
                        <input id="search" type="button" value="Uygula" class="orange buttonsearch" style="width: 298px; margin-left: 0px;" onclick="    javascript:;" />
                    }
                </div>
            }
        </div>
        <div id="jobresult">
            <div id="table" class="blue">
                <div class="row theader">
                    <div class="column first">
                        Logo
                    </div>
                    <div class="column second">
                        İlan Başlığı
                    </div>
                    <div class="column third">
                        Şehir
                    </div>
                    <div class="column fourth">
                        İşlemler
                    </div>
                </div>
                @{
                    for (int j = 0; j < 22; j++)
                    {
                        string s = j % 2 == 1 ? " alternate" : "";
                    <div class="row@(s)">
                        <div class="column first">
                            <img src="@AppMgr.ImagePath/logo.png" />
                        </div>
                        <div class="column second">
                            <a class="jobtitle" title="İlan önizlemesi için tıklayın." onclick="javascript:;">Web Yazılım Uzmanı</a>
                            <br />
                            <a class="companyname" href="#">IKProje Bilgi Teknolojileri</a>
                            <div class="hiddeninfo">
                                <h2>Web Yazılım Uzmanı</h2>
                                (1G43J4KE3)<br />
                                <br />
                                <b>Şirket : </b>IKProje Bilgi Teknolojileri<br />
                                <br />
                                <b>İlan Tarihi : </b>12.03.2016 - 16.03.2016<br />
                                <br />
                                <b>Şehir : </b>İstanbul (Asya), İstanbul (Avrupa)<br />
                                <b>Deneyim : </b>Tecrübesiz, 0-2 Yıl Tecrübeli<br />
                                <b>Eğitim : </b>Önlisans, Lisans<br />
                                <br />
                                <b>Sektör / Departman : </b>BİLİŞİM / Yazılım Uygulama Ve Geliştirme<br />
                                <b>Pozisyon : </b>Uzman<br />
                                <b>Çalışma Şekli : </b>Tam Zamanlı<br />
                                <b>Cinsiyet : </b>Bay ve Bayan<br />
                                <br />
                                This library is free for commercial and non-commercial use as long as the following conditions are aheared to.
                            <br />
                                <br />
                                The following conditions apply to all code found in this distribution, be it the RC4, RSA, lhash, DES, etc., code; not just the SSL code.  The SSL documentation included with this distribution is covered by the same copyright terms except that the holder is Tim Hudson (tjh@cryptsoft.com). This library is free for commercial and non-commercial use as long as the following conditions are aheared to.  The following conditions apply to all code found in this distribution, be it the RC4, RSA, lhash, DES, etc., code; not just the SSL code.<br />
                                <br />
                                The SSL documentation included with this distribution is covered by the same copyright terms except that the holder is Tim Hudson (tjh@cryptsoft.com).
                            </div>
                        </div>
                        <div class="column third">
                            İstanbul
                        </div>
                        <div class="column fourth">
                            <a href="@Url.Action("Detay", "Ilan", new { area = "Is", id = (j + 1).ToString() })">İlana Git</a><br />
                            <a href="#">Hızlı Başvur</a>
                        </div>
                    </div>
                    }
                }

                <div class="row tfooter">
                    <div class="column first">
                        Toplam 36 Sonuç Bulundu.
                    </div>
                    <div class="column second">
                        <a href="#">|<</a> <a href="#"><</a> <a href="#">></a> <a href="#">>|</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Stiller{
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Sayfalar/Ara.css" />
    <link rel="stylesheet" type="text/css" href="@AppMgr.StylePath/Kontroller/Tablo.css" />
}

@section Scriptler{
    <script type="text/javascript" src="@AppMgr.ScriptPath/TDScripts/TDDropDown.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/Ara.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Sayfalar/AraKaydet.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Kontroller/Tablo.js"></script>
    <script type="text/javascript" src="@AppMgr.ScriptPath/Jquery/jquery.watermark.min.js"></script>
}